.header {
  background-color: rgb(234, 242, 9);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 100%;
}

.search-input {
  padding: 5px;
  border-radius: 10px;
  border: none;
}

.btn-head {
  cursor: pointer;
  background: none;
  border: none;
}

.btn-head:hover {
  background-color: chocolate;
  border-radius: 5px;
  padding: 15px;
}

.btn-sign {
  background-color: rgb(189, 106, 11);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.btn-sign:hover {
  background-color: rgb(175, 175, 6);
  box-shadow: 2px 2px 2px rgb(232, 178, 103);
  color: white;
}

.btn-list {
  background-color: rgb(234, 242, 9);
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.btn-list:hover {
  background-color: pink;
}
